.exercise-header {
  background: #ab0000;
  color: #fff;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  align-content: center;
  align-items: baseline;
}

.exercise-header a {
  color: #fff;
  padding: 0.5em;
  display: inline-block;
}

.exercise-header a:hover {
  background: #8c0000;
}

.exercise-subheader {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  background: #8c0000;
  color: #fff;
}

.exercise-timer,
.exercise-percentage {
  font-size: 420%;
  text-align: center;
}

.exercise-progress {
  background: #700000;
  overflow: hidden;
}
.exercise-progress .progress {
  margin-bottom: 0;
  border-radius: 0;
  border: 0;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.exercise-steps ol {
  list-style-type: none;
}

.exercise-steps li {
  font-size: 123.1%;
  line-height: 1.6em;
  color: #aaa;
}

.exercise-steps li.done {
  text-decoration: line-through;
}
.exercise-steps li.selected {
  color: #000;
  font-weight: 600;
}

.exercise-current {
  text-align: center; 
}
.exercise-current span {
  vertical-align: -0.2em;
}

.exercise-last .btn,
.exercise-next .btn {
  border: 0;
}

@media (min-width: 576px) {
  .feature-item {
    flex-direction: column;
  }
}

@media (min-width: 768px) {
  .feature-item {
    flex-direction: column;
  }
}

@media (min-width: 992px) {
  .feature-item {
    flex-direction: column;
  }
}

@media (min-width: 1200px) {
  .feature-item {
    flex-direction: row;
  }
}
