.feature {
  margin-bottom: 20px;
}

.feature-item {
  background: #efefef;
  box-shadow: 2px 2px 5px #aaa;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.feature-block {
  background: #ab0000;
  text-align: center;
  overflow: hidden;
  cursor: pointer;
}
.feature-block-inner {
  height: 100%;
}
.feature-block .section-header {
  color: #fff;
  display: block;
  margin: 2em 0 1.6em;
}

.feature-block .section-button {
  margin: 0 0 4em 0;
}

.feature-block .section-button .btn {
  border: 2px solid #fff;
}

.feature-block .btn:hover {
  /*background: #8c0000;*/
}
.feature-list {
  background: #efefef;
  padding-top: 10px;

}
.feature-list li {
  line-height: 1.4em;
}

@media (max-width: 576px) {
  .feature-item {
    flex-direction: column;
  }
  .feature-block .section-header {
    margin: 2em 0;
  }
  .feature-block .section-button {
    margin: 2em 0;
  }
}

@media (max-width: 768px) {
  .feature-item {
    flex-direction: column;
  }
  .feature-block .section-header {
    margin: 2em 0;
  }
  .feature-block .section-button {
    margin: 2em 0;
  }
}

@media (min-width: 992px) {
  .feature-item {
    flex-direction: column;
  }
}

@media (min-width: 1200px) {
  .feature-item {
    flex-direction: row;
  }
}
