.exercise-header {
  background: #ab0000;
  color: #fff;
}

.exercise-header a {
  color: #fff;
  padding: 0.5em;
  display: inline-block;
}

.exercise-header a:hover {
  background: #8c0000;
}

.exercise-timer {
  font-size: 420%;
  text-align: center;
}

.exercise-progress {
  background: #700000;
  height: 10px;
  width: 0;
  overflow: hidden;
}
.exercise-steps ol {
  list-style-type: none;
}

.exercise-steps li {
  font-size: 123.1%;
  line-height: 1.6em;
  color: #aaa;
}

.exercise-steps li.done {
  text-decoration: line-through;
}
.exercise-steps li.selected {
  color: #000;
  font-weight: 600;
}

.exercise-current {
  text-align: center; 
}

.exercise-last {
  padding-left: 20px;
}

.exercise-next {
  padding-right: 20px;
  text-align: right;
}
 